/* Add application styles & imports to this file! */
/* Add application styles & imports to this file! */
body {
  margin: 0;
  padding: 0;
}

div#container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
}